<div style="text-align: center;">
<h1> Search Items </h1>
<% unless @kroger_facade.find_items.all? { |item| item.price == "Unavailable" } %>
  <div id="items">
    <% @kroger_facade.find_items.each do |item| %>
      <% unless item.price == "Unavailable" %>
        <div id="item-<%= item.id %>">
          <p><%= image_tag item.image_url %></p>
          <p><%= item.description %></p>
          <p><%= item.brand %></p>
          <p>$<%= item.price %></p>
          <p><%= item.size %></p>
          <%= button_to "Add to Wishlist", wishlist_items_path, params: {item_id: item.id, 
																																		 image_path: item.image_url,
																																		 price: item.price,
																																		 size: item.size,
																																		 name: item.description }, class: "btn btn-primary my-2 my-sm-0"  %><br>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No Items Available</p>
<% end %>
</div>