<section>
  <div style="text-align: center;">
    <% if !@user.username.nil? %>
      <h1><%= @user.username%>'s Donor Dashboard</h1>
    <% else %>
      <h1>Donor Dashboard</h1>
    <% end %>
  </div>
</section>

<div class="right-section">
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div id="donated-items">
  <div class="card-header">Donated Items</div>
  <div class="card-body">
    <h4 class="card-title">My Donated Items</h4>
    <p class="card-text">View all your donated items.</p>
      <% @donated_items.each do |donated_item| %>
      <div id="donated_item-<%= donated_item.id %>">
        <%= image_tag donated_item.image_path %>
        <p><%= donated_item.name %></p>
        <p><%= donated_item.price %></p>
      </div>
    <% end %>
  </div>
  </div>
</div>

</div>
<div class="left-section">
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div id="explore-organizations">
  <div class="card-header">Organizations</div>
  <div class="card-body">
    <h4 class="card-title">Explore Organizations Near Me</h4>
    <p class="card-text">If you're interested in making a local donation, check out the organizations in your area.</p>
    <div class="left-section">
      <%= form_with url: dashboard_path , method: :get do |form| %>
        <%= form.label :address, "Zipcode:" %> 
        <%= form.text_field :address %> 
        <%= form.label :miles, "Radius:" %> 
        <%= form.select :miles, options_for_select(1..100) %> 
        <%= form.submit "Search" %>
      <% end %>
      <% if !@organizations.nil? %>
        <ul>
          <% @organizations.each do |organization| %>
              <li><%= link_to organization.name %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  </div>
</div>
</div>
