<div style="text-align: center;">
  <% if !@user.username.nil? %>
    <h1><%= @user.username%>'s Donor Dashboard</h1>
  <% else %>
    <h1>Donor Dashboard</h1>
  <% end %>
</div>

<div class="card mb-3">
  <h3 class="card-header">Organizations</h3>
  <div class="card-body">
    <h5 class="card-title">Explore Organizations Near Me</h5>
    <h6 class="card-subtitle text-muted">Enter your zipcode below.</h6>
  </div>
  <div class="card-body">
    <p class="card-text">If you're interested in making a local donation, check out the organizations in your area.</p>
        <%= form_with url: dashboard_path , method: :get do |form| %>
        <%= form.label :address, "Zipcode:" %> 
        <%= form.text_field :address %> 
        <%= form.label :miles, "Radius:" %> 
        <%= form.select :miles, options_for_select(1..100) %> 
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
  </div>
  <p class="list-group list-group-flush">
    <% if !@organizations.nil? %>
        <% @organizations.each do |organization| %>
            <%= link_to organization.name, organization_path(organization.id), method: :get %>
          <% end %>
    <% end %>
  </p>
  <div class="card-footer text-muted">
    Click on the organization name to view their profile.
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Donated Items</h4>
    <h6 class="card-subtitle mb-2 text-muted">My Donated Items</h6>
    <div id= "donated-items">
    <p class="card-text">View all your donated items.</p>
        <% @donated_items.each do |donated_item| %>
      <div id="donated_item-<%= donated_item.id %>">
        <%= image_tag donated_item.image_path %>
        <p><%= donated_item.name %></p>
        <p><%= donated_item.price %></p>
      </div>
    <% end %>
  </div>
</div>

