#to identify donor dashboard for testing
<h1><%= @user.email %>'s Donor Dashboard</h1>

#include search by zipcode and mile radius
<section>
  <div class="left-section">
  #add CSS rule float: left
    <div class="explore-organizations">
      <h2>Explore Organizations Near Me</h2>

      <%= form_with url: "/organizations/find_all", method: :get do |form| %>
        <%= form.label :zip_code, "Zipcode:" %> 
        <%= form.text_field :zip_code %> 
        <%= form.label :radius, "Radius:" %> 
        <%= form.select :radius, options_for_select(1..100) %> 
        <%= form.submit "Search" %>
      <% end %>
      <ul>
        <%# <li><%= link_to "Organization 1", organization_path(organization)</li> %> 
        <%# <li><%= link_to "Organization 2", organization_path(organization) %></li> 
        <%# <li><%= link_to "Organization 3", organization_path(organization) %></li>
      </ul>
    </div>
  </div>
</section>
#need to iterate through wishlist donated items
<section>
 <div class="right-section">
 #add CSS rule float: right
  <div class= "donated-items">
    <h2>Donated Items</h2>
    <ul>
      <%# <li><%= link_to "Item 1", item_path(item) %></li> 
      <%# <li><%= link_to "Item 2", item_path(item) %></li> 
      <%# <li><%= link_to "Item 3", item_path(item) %></li>
    </ul>
  </div>
</section>


    
