#to identify donor dashboard for testing
<h1><%= @user.email %>'s Donor Dashboard</h1>

<section>
  <div class="left-section">
  #add CSS rule float: left
    <div class="explore-organizations">
      <h2>Explore Organizations Near Me</h2>

      <%= form_with url: dashboard_path , method: :get do |form| %>
        <%= form.label :address, "Zipcode:" %> 
        <%= form.text_field :address %> 
        <%= form.label :miles, "Radius:" %> 
        <%= form.select :miles, options_for_select(1..100) %> 
        <%= form.submit "Search" %>
      <% end %>
      <% if !@organizations.nil? %>
        <ul>
          <% @organizations.each do |organization| %>
              <li><%= link_to organization.name %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</section>
#need to iterate through wishlist donated items
<section>
 <div class="right-section">
 #add CSS rule float: right
  <div class= "donated-items">
    <h2>Donated Items</h2>
    <ul>
      <%# <li><%= link_to "Item 1", item_path(item) %></li> 
      <%# <li><%= link_to "Item 2", item_path(item) %></li> 
      <%# <li><%= link_to "Item 3", item_path(item) %></li>
    </ul>
  </div>
</section>


    
