#to identify recipient dashboard for testing
<% if !@user.username.nil? %>
  <h1><%= @user.username %>'s Recipient Dashboard</h1>
<% else %>
  <h1>Recipient Dashboard</h1>
<% end %>

<%= form_with url: search_path, method: :get, class: "form-inline my-2 my-lg-0" do |f| %>
  <%= f.search_field :query, class: "form-control mr-sm-2", placeholder: "Search for an item", aria_label: "Search" %>
  <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<div class= "wishlist-items">
  <h3>Wishlist Items</h3>
  <ul>
    <% @wishlist_items.each do |item| %>
      <li>
        <p><%= item.name %></p><br>
        <%= image_tag item.image_path %><br>
        <%= link_to "Delete", wishlist_item_path(item.id), method: :delete, data: { turbo_method: :delete } %>
        <%# <%= link_to "Delete", wishlist_item_path(item.id), method: :delete, data: { confirm: "Are you sure you want to delete this item?" }, class: "btn btn-danger", :turbo => false %> 
      </li>
    <% end %>
  </ul>
</div>


