<!DOCTYPE html>
<html>
  <head>
    <title>HelpListFE</title>
      <div style="text-align: center;">
        <div class="banner">
        <h1 class="title">HelpList</h1>
            <h2 class="tagline">Helping Humans Help Humans</h2>
        </div><br>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
            <%= stylesheet_link_tag "custom", media: "all" %>
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>
            <%= javascript_importmap_tags %>
      </div>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar' , class: "navbar" %><br>
    
  <div style="text-align: right;">  
    <section class="log-out">
      <% if @user %>
        <%= button_to "Log Out", logout_path, method: :delete, data: { "turbo-method": :delete }, :class => "btn btn-warning"%>
      <% end %>
    </section><br>
    </nav>
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= yield %>
  </body>
</html>
