<!DOCTYPE html>
<html>
  <head>
    <title>HelpListFE</title>
      <div style="text-align: center;">
        <h1>HelpList</h1>
            <h2>Helping Humans Help Humans</h2>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>

            <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
            <%= javascript_importmap_tags %>
  </head>

  <body>
		<% flash.each do |type, msg| %>
			<h3><b><%= msg %></b></h3>
		<% end %>
    <nav>
    <%= render partial: 'shared/nav_bar' %>
    
    <section class="log-out">
      <% if @user %>
        <p><%= @user.email %></p>
        <%= button_to "Log Out", logout_path, method: :delete, data: { "turbo-method": :delete }, :class => "btn btn-warning"%>
      <% end %>
    </section>
    </nav>
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= yield %>
  </body>
</html>
