<!DOCTYPE html>
<html>
  <head>
    <title>HelpListFE</title>
		<%= favicon_link_tag asset_path('dv_favicon.png') %>
      <div style="text-align: center;">
        <div class="banner">
        <h1 class="title">HelpList</h1>
            <h2 class="tagline">Helping Humans Help Humans</h2>
        </div><br>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
            <%= stylesheet_link_tag "custom", media: "all" %>
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>
            <%= javascript_importmap_tags %>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar' , class: "navbar" %><br>
      
      <div style="text-align: right;">
      <% flash.each do |type, msg| %>
       <% if msg != "param is missing or the value is empty: user." %> 
        <%= content_tag :div, msg, class: type%>
      <% end %>
    <% end %>
   
    <%= yield %>
  </body>
</html>
